<div class="col-md-4 loginForm">
    <div class="card ">
      <div class="card-header bg-info text-white" id="loginCardHeader">
        Please Login
      </div>
      <div class="card-body">
        <form  [formGroup]="userGroup" >
          <div class="form-group">
            <div class="input-group">
              <input type="text" id="username2" name="username2"
                     class="form-control" placeholder="Username"
                      formControlName="username">
              <div class="input-group-append">
                <span class="input-group-text"><i class="fa fa-user"></i></span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <input type="password" id="password2" name="password2"
                     class="form-control" placeholder="Password"
              formControlName="password">
              <div class="input-group-append">
                <span class="input-group-text"><i class="fa fa-asterisk"></i></span>
              </div>
            </div>
          </div>
            <span style="color: red;display: block"
                  *ngIf="userGroup.get('username').touched&&
                  userGroup.get('username').errors?.required">
            Username can't be empty!</span>
            <span style="color: red;display: block"
                  *ngIf="userGroup.get('password').touched &&
                  userGroup.get('password').errors?.required">
            Password can't be empty!</span>
          <div class="form-group form-actions">
              <button type="button" class="btn btn-sm btn-primary" (click)="login()" id="loginBtn">
                <i class="fa fa-user" ></i> Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
