<p>
  zone-view works!
</p>
<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-10">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> ZONES
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Health</th>
              <th>Time</th>
              <th>Tenants</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let ls of allZones; let i = index" >
              <th scope="row">{{i+1}}</th>
              <td>{{ls.name}}</td>
              <td><span class="badge" [ngClass]="ls.status =='OK'?'badge-success':'badge-danger'">{{ls.status.toLocaleUpperCase()}}</span></td>
              <td>{{ls.timestamp}}</td>
              <td><span class="badge" [ngClass]="ls.tenants?'badge-success':'badge-danger'">{{ls.tenants?ls.tenants.length:ls.error_message}}</span></td>
            </tr>
            </tbody>
          </table>
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
