<header class="app-header navbar">
  <button class="navbar-toggler d-lg-none" type="button" appMobileSidebarToggler>
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler d-md-down-none mr-auto" type="button" appSidebarToggler>
    <span class="navbar-toggler-icon"></span>
  </button>

  <button *ngIf="!logged" class="btn btn-outline-primary"
   routerLink='/login'>Login</button>
  <button *ngIf="logged" class="btn btn-outline-primary"
   routerLink='#'>Username</button>
  <!-- <button class="btn btn-primary" (click)="authenticateUser()">
    <i [ngClass] = "logged ? 'fa fa-user':''">{{logged?logged:'Log in'}}</i>
  </button> -->
  <button class="navbar-toggler d-md-down-none" type="button" appAsideMenuToggler>
    <span class="navbar-toggler-icon"></span>
  </button>
</header>
